<div class="row">
  <div class="col-sm-offset-2 col-sm-4 text-center">
    <p>You played <%=@player_move%>!<br>
      <i class="fa fa-hand-<%=@player_move%>-o" aria-hidden="true"></i>
    </p>
  </div>

  <div class="col-sm-4 text-center">
    <p>The computer played <%=@computer_move%>!<br>
      <i class="fa fa-hand-<%=@computer_move%>-o" aria-hidden="true"></i>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-sm-offset-4 col-sm-4 text-center">
    <p><%=@result%></p>
  </div>
</div>
